



    <div class="row" style="padding: 10px 0px;" >
        <div class="col-12">
            设置加载数据量：
            <input type="number" [(ngModel)]="dataLength">
            <button type="button" (click)="setDataLength(dataLength)">加载</button>

            <div style="margin-left: 30px;">
                <button (click)="dg.scrollToBottom()">滚动底部</button>
                <button (click)="dg.scrollToTop()">滚动顶部</button>
            </div>

        </div>
    </div>
    <div class="row">
        <div #gridContainer class="col-12" style="height: 500px">
                        
            <farris-datagrid [columns]="columns" [data]="items" #dg
                [showLineNumber] ="true" [striped]="false" [showCheckbox]="false"
                [virtualized]="true"
                [sizeType]="'sm'"
                [pagination]="true" [fit]="true" [fitColumns]="true"
                [pageSize]= "pageSize" [pageIndex]="1"  [total]="total"
                [pageList]="[10, 100, 200, 300, 500, 1000, 2000, 5000]" [showPageList]="true"
                (beginEdit)="onBeginEdit($event)" (endEdit)="onEndEdit($event)"
                (pageChanged)="changePageIndex($event)"
                (pageSizeChanged)="changePageSize($event)"
                (selectChanged)="onSelectRow($event)"
            ></farris-datagrid>

            <ng-template #name let-row='rowData' let-field="field">
                <input autofocus type="text" [(ngModel)]="row[field]" style="width: 100%; height: 35px;">
            </ng-template>

            <ng-template #sex let-row='rowData' let-field="field" >
                <select name="sex" [(ngModel)]="row[field]" style="width: 100%; height: 35px;">
                    <option value="男">男</option>
                    <option value="女">女</option>
                </select>
            </ng-template>

            <ng-template #birthday let-row='rowData' let-field="field">
                <farris-datepicker name="birthday" [(ngModel)]="row[field]"></farris-datepicker>
            </ng-template>

            <ng-template #maray let-row='rowData' let-field="field">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox"  [(ngModel)]="row[field]" class="custom-control-input" id="edit-cell-customCheck1">
                    <label class="custom-control-label" for="edit-cell-customCheck1">&nbsp;</label>
                </div>
            </ng-template>

        </div>
    </div>