        
<div class="row" style="padding: 20px 0; margin-top: 120px">        

    <farris-datagrid id="datagrid1" [columns]="columns" [data]="items" #dg="datagrid"
        [showLineNumber] ="true" [striped]="false" [showCheckbox]="false"
        [virtualized]="true" [rowStyler]="datagrid1RowStyle"
        [pagination]="false" [pageSize]= "pageSize" [pageIndex]="pageIndex"  [total]="total"
    ></farris-datagrid>
    
</div>

<ng-template #nameCellTemplate let-ctx>
    <a href="http://www.baidu.com" target="blank">{{ ctx.rowData["name"] }}</a>
</ng-template>
    