<!--
 * @Author: 疯狂秀才(Lucas Huang)
 * @Date: 2019-08-06 07:43:07
 * @LastEditors: 疯狂秀才(Lucas Huang)
 * @LastEditTime: 2019-10-15 17:24:31
 * @QQ: 1055818239
 * @Version: v0.0.1
 -->
        


 <button (click)="updateRow()">更新第1行的姓名</button>
<div class="row" style="padding: 20px 0; margin-top: 120px">        

    <farris-datagrid [columns]="columns" [data]="items" #dg="datagrid"
        [showFooter]="true" [footerData]="footerItems" [footerDataFrom]="'server'"
        [showLineNumber] ="true" [striped]="true" [showCheckbox]="false" [fitColumns]="false"
        [virtualized]="false" [keepSelect]="false" [nowrap]="false" [showBorder]="true"
        [pagination]="false" [pageSize]= "pageSize" [pageIndex]="pageIndex"  [total]="total"
    ></farris-datagrid>
    
    </div>
    