<!--
 * @Author: 疯狂秀才(Lucas Huang)
 * @Date: 2019-08-06 07:43:07
 * @LastEditors: 疯狂秀才(Lucas Huang)
 * @LastEditTime: 2019-08-16 16:49:47
 * @QQ: 1055818239
 * @Version: v0.0.1
 -->
       
 <div #box class="d-flex flex-column" style="width: 100%; height: 300px;">
    <div class="north" style="height: 80px">
       
        <div class="fluid-container">
            <div class="row">
                {{ dg.currentCell?.field }}
                <button (click)="dg.editable = true">编辑</button>
                <button (click)="dg.editable = false">结束编辑</button>
            </div>

            <div class="row">
            {{ dg.selectedRow | json }}
            </div>
        </div>

    </div>
    <div region="center" class="center flex-fill">
        <farris-datagrid [data]="items" [columns]="columns" #dg="datagrid" [fit]="true"
            [editable]="true" [editMode]="'cell'" [showCheckbox]="false" [fitColumns]="true"
            [showLineNumber] ="true" [striped]="true"  [total]="total"
            [virtualized]="true" [pagination]="false">
        </farris-datagrid>

    </div>
</div>
