        
<div class="row" style="padding: 20px 0; margin-top: 120px">        

    <farris-datagrid [data]="items" [columns]="columns" #dg
    [editable]="true" [editMode]="'cell'"
        [showRowNumber] ="true" [striped]="true" [showCheckbox]="false" [total]="total"
        [virtualized]="false" [pagination]="false">
<!--             
        <farris-grid-column [field]="'id'" [title]="'ID'" [width]="100">
        </farris-grid-column>
        <farris-grid-column [field]="'name'" [title]="'姓名'" [width]="130">
            <ng-template grid-cell-editor>
                <input type="text">
            </ng-template>
        </farris-grid-column>
        <farris-grid-column [field]="'sex'" [title]="'性别'" [width]="70">
        </farris-grid-column>
        <farris-grid-column [field]="'birthday'" [title]="'出生日期'" [width]="120">
        </farris-grid-column>
        <farris-grid-column [field]="'maray'" [title]="'婚否'" [width]="60">
        </farris-grid-column>
        <farris-grid-column [field]="'addr'" [title]="'地址'" [width]="180">
        </farris-grid-column>
        <farris-grid-column [field]="'company'" [title]="'公司'" [width]="100">
        </farris-grid-column>
        <farris-grid-column [field]="'nianxin'" [title]="'年薪'" [width]="100">
        </farris-grid-column>
        <farris-grid-column [field]="'zhiwei'" [title]="'职位'" [width]="100">
        </farris-grid-column> -->
    </farris-datagrid>
    
    </div>
<div class="row">

    {{ dg.currentCell | json }}

</div>